In [18]:
import pandas as pd
# name = ["Rohan", "Ramesh", "Rakesh"]
# address = ["Patna", "Gaya", "Pune"]
# phone = [7878787878, 9078564534, 8976452312]
# id1 = [1, 2, 3]
# # id2 = pd.Series(name, index=["a", "b", "c"])
# s1 = pd.Series(name)
# s2 = pd.Series(address)
# s3 = pd.Series(phone)
# s4 = pd.Series(id1)
# cn = pd.concat([s1, s2, s3,s4], axis=1)
# print(id2)

data = {
    "name": ["abuzar", "Rishav", "Akash", "Minakshi"],
    "age": [27, 45, 32, 22],
    "gender": ["M", "M", "M", "F"],
    "address": ["Chandigarh", "Pune", "Gurugrame", "Delhi"]
}

df = pd.DataFrame(data)
df.to_csv("file.csv")